.nav-bar-bottom{
    background-color: #2e2e2e;
}

.list-item{
    font-size: 1.6rem;
    /* font-weight: bold; */
}

.list-item-link{
    color: #F9F7F7;
}

.list-item-link:hover{
    text-decoration: none;
    color: #F9F7F7;
    padding-bottom: .1rem;
    border-bottom: .4rem solid #F9F7F7;
}

.sale-text:hover{
    text-decoration: none;
    padding-bottom: .1rem;
    border-bottom: .4rem solid red;
    text-decoration: none;   
}

.sale-text{
    color: red;
}

@media screen and (max-width: 37.5em){
    .nav-bottom-root{
        display: none;
    }
}



