.nav-root{
    background-color: #F9F7F7;
}

.nav-bar{ 
    margin-left:15%;
    margin-right:15%;
    width: 70%;
}

.nav-logo-brand{
    width: 58px;
    height: 58px;
}

.nav-bar-links{
    font-size: large;
}

.logo-img{
    width: 58px;
    height: 58px;
    min-width: 55px;
    min-height: 55px;
}



.nav-profile-icon{
    width: 23px;
    height: 23px;
}

.profile-icon{
    min-width: 23px;
    min-height: 23px;
}

.nav-shopping-icon{
    position: relative;
    width: 23px;
    height: 23px;
}

.shopping-icon{
    min-width: 23px;
    min-height: 23px;
}

.shopping-items{
    position: absolute;
    left: 12px;
    top: 3px;
    color: #222;
}


