.btn-back-top{
    width: 100%;
    height: 3.5rem;
    border: none;
    outline: none;
    background-color: #333333;
    color: #F9F7F7;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-back-top:hover{
    background-color: #303030;
}

.btn-back-top:focus{
    border: none;
    outline: none;
}

@media screen and (max-width: 37.5em) {
    .btn-back-top{
        height: 3.3rem;
        color: #F9F7F7;
        font-size: 1.5rem;
    }
}