.sale-title{
    font-size: 3rem;
}

.red-text{
    color: red;
}

.sale-products-div{
    color: red;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.product-on-sale{
    position: relative;
}

.full-price{
    position: absolute;
    bottom: 2%;
    left: 25%;
    font-size: 1.7rem;
    color: #222222d3;
    text-decoration: line-through;
}

@media screen and (max-width: 56.25em) {
    .full-price{
        left: 33%;
    }
}