.plus-minus-items{
    align-items: center;
    border: solid 1px #22222242;
}

.num-of-item{
    width: 2.4rem;
    text-align: center;
    font-size: 1.6rem;
}

.item-price{
    width: 5rem;
    text-align: center;
    font-size: 1.6rem;
}

button:focus{
    outline: none;
}

.remove-item{
    background-color: white;
    color: #22222285;
    border: none;
    font-size: 1.4rem;
}

.minus-item{
    border: solid #222222c4 1px;
    width: 3rem;
    font-weight: 500;
    border: none;
    background-color: white;
    font-size: 1.6rem;

}

.plus-item{
    border: solid #222222c4 1px;
    width: 3rem;
    font-weight: 500;
    border: none;
    background-color: white;
    font-size: 1.6rem;
}

.minus-item:hover{
    background-color: rgb(235, 235, 235);
}

.plus-item:hover{
    background-color: rgb(235, 235, 235);
}

.remove-item:hover{
    color: #222;
}

.remove-item-icon{
    width: 1.6rem;
    height: 1.6rem;
}

.remove-item-icon:hover{
    cursor: pointer;
}

@media screen and (max-width: 37.5em){
    .plus-item{
        width: 2rem;
        font-size: 1.3rem;
    }
    .minus-item{
        width: 2rem;
        font-size: 1.3rem;
    }
    .remove-item{
        font-size: 1.2rem;
    }
    .num-of-item{
        width: 1.8rem;
        font-size: 1.4rem;
    }
    
    .item-price{
        min-width: 5.2rem;
        font-size: 1.6rem;
    }
}