.product-image{
    width: 7.5rem;
    height: 7.5rem;
}

.product-image:hover{
    outline: 2px solid #22222267;
    
}

.main-image-div{
    height: fit-content;
    width: fit-content;
}

.main-image{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
}

@media screen and (max-width: 56.25em){
    .main-image{
        width: 28rem;
        height: 28rem;
    }
    .product-image{
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media screen and (max-width: 37.5em){
    .product-image{
        display: none;
    }
    .main-image-div{
        display: none;
    }
}
