.newsletter-img{
    width: 7rem;
    height: 6.4rem;
}

.newsletter{
    background-color: white;
    height: 9rem;
    
}

.newsletter-text{
    font-size: 2rem;
}

.newsletter-btn{
    min-height: 3.2rem;
    border: solid #222222c4 1px;
}

.newsletter-btn:hover{
    background-color: rgb(235, 235, 235);
}

.news{
    text-decoration: underline;
}

.news:hover{
    color: #222222de;
    cursor: pointer;
}

@media screen and (max-width: 37.5em) {
    .newsletter-text{
        font-size: 1.7rem;
    }
}